<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário Financeiro</title>
</head>
<body>
    <h1>Lançamento Financeiro</h1>
        <form method="POST">
          <label>Data:</label>
          <input type="date" name="data"><br>

          <label>Histórico:</label>
          <input type="text" name="historico"><br>

          <label>Valor:</label>
          <input type="number" name="valor"><br>

          <label>Conta:</label>
          <select name="conta">
            <option>Branco</option>
            <option>Vermelho</option>
            <option>Azul</option>
            <option>Amarelo</option>
          </select><br>

          <input type="submit" value="Salvar">
        </form>

</body>
</html>
